In [1]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings
%matplotlib inline

CHECK CURRENT WORKING DIR

In [2]:
pwd

'C:\\Users\\samue\\OneDrive\\Documents\\GitHub\\Twitter-Sentiment-Analysis'

READ TRAINING DATASET

In [3]:
df_train = pd.read_csv('C://Users//samue//OneDrive//Documents//GitHub//Twitter-Sentiment-Analysis/Train.csv')

In [4]:
df_train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
df_train_original=df_train.copy()

READ TESTING DATASET

In [6]:
df_test = pd.read_csv('C://Users//samue//OneDrive//Documents//GitHub//Twitter-Sentiment-Analysis/Test.csv')

In [7]:
df_test_original=df_test.copy()

COMBINE TRAINING AND TESTING DATA INTO ONE DATASET

In [8]:
dataset = df_train.append(df_test,ignore_index=True,sort=True)

In [9]:
dataset.head(10)

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation
5   6    0.0  [2/2] huge fan fare and big talking before the...
6   7    0.0   @user camping tomorrow @user @user @user @use...
7   8    0.0  the next school year is the year for exams.ð...
8   9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9  10    0.0   @user @user welcome here !  i'm   it's so #gr...

In [10]:
dataset.tail(10)

          id  label                                              tweet
49149  49150    NaN  loving lifeðºð¸âï¸ð  #createyourfutu...
49150  49151    NaN  black professor demonizes, proposes nazi style...
49151  49152    NaN  learn how to think positive.  #positive   #ins...
49152  49153    NaN  we love the pretty, happy and fresh you! #teen...
49153  49154    NaN  2_damn_tuff-ruff_muff__techno_city-(ng005)-web...
49154  49155    NaN  thought factory: left-right polarisation! #tru...
49155  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
49156  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158    NaN  happy, at work conference: right mindset leads...
49158  49159    NaN  my   song "so glad" free download!  #shoegaze ...